# lokalni Go binarni fajlovi
*.exe
*.exe~
*.dll
*.so
*.dylib

# cache i build fajlove
bin/
obj/
*.log
**/*.log
**/tmp/
**/tmp
services/**/main

# editor fajlovi
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
**/.idea/
**/.vscode/

# test fajlovi
*_test.go

# vendor
vendor/

tmp/

.git
**/.git
tmp
*.log
*.md
node_modules